.menu-bar {
    width: 100%;
    height: max-content;

    padding: 5px 125px;
    background-color: white;

    position: absolute;
    z-index: 100;
    top: 8%;

    justify-content: space-between;

    /* border: 1px solid red; */
}
.menu-bar--fixed{
    position: fixed;
    box-shadow:  0px -1px 10px 0px rgb(121, 121, 121);
    top: 0;
}
.menu-bar__logo {
    width: 70px;
    cursor: pointer;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 17%;

    /* border: 1px solid red; */
}
.menu__item {
    font-size: 1.1rem;

    transition: all .2s ease-in-out;
    font-weight: 400;
    /* border: 1px solid red; */
}
.menu__item:hover{
    color: #eb3131;
}
.menu__btn {
    border: 2px solid #eb3131;
    padding: 12px 15px;
    border-radius: 10000px;
    color: #eb3131;
    font-weight: 400;
    font-size: 1.2rem;
}
.menu__btn:hover {
    background-color: #eb3131;
    color: white;
}

/*******************************************
**              MEDIA QUERY               **
*******************************************/

/*Big laptop*/
@media only screen and (max-width: 1440px) {
    .menu {
        width: 23%;
    }
}
/*Laptop*/
@media only screen and (max-width: 1280px) {
    .menu-bar {
        padding: 5px 100px;
    }
    .menu {
        width: 24%;
    }
}
@media only screen and (max-width: 1180px) {
    .menu {
        width: 28%;
    }
}
/* Big Tablets */
@media only screen and (max-width: 1024px) {
    .menu-bar {
        padding: 5px 90px;
    }
    .menu {
        width: 30%;
    }
}   
@media only screen and (max-width: 960px) {
    .menu {
        width: 33%;
    }
}
/* Medium Tablets */
@media only screen and (max-width: 834px) {
    .menu {
        width: 37%;
    }
}
@media only screen and (max-width: 800px) {
    .menu {
        width: 39%;
    }
}
/* Regular Tablets */
@media only screen and (max-width: 768px) {
    .menu-bar {
        padding: 5px 70px;
    }
    .menu-bar__logo {
        width: 65px;
    }
    .menu {
        width: 45%;
    }
}
/* Small Tablets */
@media only screen and (max-width: 696px) {
    .menu-bar {
        padding: 5px 60px
    }
    .menu {
        width: 47%;
    }
}
@media only screen and (max-width: 600px) {
    .menu-bar {
        padding: 5px 50px
    }
    
    .menu {
        width: 50%;
    }
}
/* Big Smartphones */
@media only screen and (max-width: 414px) {
    .menu-bar {
        padding: 5px 25px;
    }
    .menu-bar__logo {
        width: 50px;
    }
    .menu {
        width: 65%;
    }
}
/* Medium Smartphone */
@media only screen and (max-width: 385px) {
    .menu-bar {
        padding: 5px 15px;
    }
    .menu {
        width: 60%;
    }
    .menu__item {
        font-size: .9rem;
    }
}
/* Regular Smartphone */
@media only screen and (max-width: 320px) {
    .menu {
        width: 70%;
    }
    .menu-bar__logo {
        width: 45px;
    }
}