/*********************************/
/***           ABOUT           ***/
/*********************************/
.about {
    width: 100%;
    height: 65vh;

    background: #e91a1a;

    flex-direction: column;

    position: relative;
    text-align: center;
    z-index: 10;
}
.about__text{
    width: 50%;
}
.about__text h3, .about__text p{
    color: white;
}
.about__text h3 {
    font-size: 4rem;
    font-weight: 500;
}
.about__text p {
    font-size: 1.5rem;
    font-weight: 500;
}
/*********************************/
/***         CONTACTS          ***/
/*********************************/
.contacts {
    width: 100%;
    height: 100vh;

    flex-direction: column;

    box-shadow:  0px -3px 8px 1px rgba(71, 71, 71, 0.4);

    position: relative;
    z-index: 20;
}
.contacts__title{
    font-size: 3rem;
    font-weight: 700;
}
.contacts__copy{
    font-size: 1.3rem;
    font-weight: 500;
}
.contacts__list {
    list-style: none;
    text-align: center;
}
.contacts__list li {
    display: block;
    font-size: 1.5rem;
}
.contacts__list span {
    color: #b80000;
    font-weight: 500;
}
.contacts__list a {
    transition: color .3s ease-in-out;
    color: #b80000;
    font-weight: 500;
}
.contacts__list a:hover {
    color: #e91a1a;
}
.contacts__upper-filler {
    width: 100%;
    height: 2vh;

    position: absolute;
    top: 0;
    /* transform: translateY(-100%); */

    background: #e91a1a;
}
/*********************************/
/***         PROJECTS          ***/
/*********************************/
.projects {
    width: 100%;
    height: max-content;

    flex-direction: column;
    padding: 150px 0;

    background: #e91a1a;
}
.projects__card {
    background: #fff;

    width: 75vw;
    height: 58vh;

    margin: 20px 0;
    border-radius: 8px;

    padding: 20px 30px;
}
.projects__card__copy {
    flex-direction: column;
    text-align: center;

    width: 60%;

    margin-left: 90px;
}
.projects__card__title {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 25px;
}
.projects__card__desc {
    font-weight: 400;
    font-size: 1.5rem;
}
.projects__card__img {
    width: 40%;
}
.projects__card__btn {
    border: 2px solid #e91a1a;

    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 10000000000px;

    font-size: 1.5rem;
    font-weight: 500;
    color: #e91a1a;

    transition: all .3s ease-in-out;
}
.projects__card__btn:hover {
    color: white;
    background: #e91a1a;
}